node_modules
build
.deps
tmp
Makefile
deps/lib
deps/libsodium/config.log
deps/libsodium/config.status
deps/libsodium/libsodium-uninstalled.pc
deps/libsodium/libsodium.pc
deps/libsodium/libtool
deps/libsodium/src/libsodium/include/sodium/version.h
.dirstamp
.libs
*.lo
*.o
*.la
