node_modules
build
.deps
Makefile
deps/libsodium/config.log
deps/libsodium/config.status
deps/libsodium/libsodium-uninstalled.pc
deps/libsodium/libsodium.pc
deps/libsodium/libtool
deps/libsodium/src/libsodium/include/sodium/version.h
