name: Prebuild
on:
  workflow_dispatch:
jobs:
  prebuild:
    strategy:
      matrix:
        include:
        - os: ubuntu-20.04
          platform: linux
          arch: x64
        - os: ubuntu-22.04-arm64
          platform: linux
          arch: arm64
        - os: ubuntu-22.04
          platform: android
          arch: x64
          flags: --android-ndk 26.1.10909125 --android-api 34
        - os: ubuntu-22.04
          platform: android
          arch: ia32
          flags: --android-ndk 26.1.10909125 --android-api 34
        - os: ubuntu-22.04
          platform: android
          arch: arm64
          flags: --android-ndk 26.1.10909125 --android-api 34
        - os: ubuntu-22.04
          platform: android
          arch: arm
          flags: --android-ndk 26.1.10909125 --android-api 34
        - os: macos-12
          platform: darwin
          arch: x64
        - os: macos-14
          platform: darwin
          arch: arm64
        - os: macos-14
          platform: ios
          arch: arm64
        - os: macos-14
          platform: ios
          arch: arm64
          tags: -simulator
          flags: --simulator
        - os: macos-14
          platform: ios
          arch: x64
          tags: -simulator
          flags: --simulator
        - os: windows-2022
          platform: win32
          arch: x64
        - os: windows-2022
          platform: win32
          arch: arm64
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.platform }}-${{ matrix.arch }}${{ matrix.tags }}
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - run: npm install -g bare-dev
    - run: npm install
    - run: npm run prebuild
      if: ${{ matrix.platform == 'linux' || matrix.platform == 'darwin' || (matrix.platform == 'win32' && matrix.arch == 'x64') }}
    - run: bare-dev install --platform ${{ matrix.platform }} --arch ${{ matrix.arch }} ${{ matrix.flags }}
    - uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.platform }}-${{ matrix.arch }}${{ matrix.tags }}
        path: prebuilds/*
